* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

h1 {
    color: blue;
    font-size: 22px;
    margin: 20px 0;
    font-size: 30px;
}

p {
    margin: 30px 5px;
    font-size: 20px;
}

span {
    color: red;
}
